<!doctype html>
<style>
div.ld {
    font-family: courier;
    color: blue;
}
</style>
<title>Editor</title>
{% if thing.get('name', None) %}
  <h1>Edit {{ thing.name }}!</h1>
{% else %}
    <h1>New!</h1>
{% endif %}
<form name="thing_form" action="/save/" method="post">
{% for item, val in thing|dictsort %}
    {% if '@' in item %}
    <input type="hidden" name="{{ item }}" value="{{ val }}"/>
    {% else %}
    <br>{{ item|e }}: <input type="text" name="{{ item }}" value="{{ val }}"/>
    {% endif %}
{% endfor %}
<input type="submit" value="Submit">
<br>
{% if ld %}
<textarea rows="50" cols="100" wrap="true"><script type="application/ld+json">{{ ld }}</script></textarea>
{% endif %}
</form>
